.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:32px;
}

.Cryptos {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: -0.04em;
    color: rgba(117, 117, 117, 1);
    font-style: normal;
    text-align: center;

}

.CryptosData {
    text-align: center;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: -0.04em;
    color: rgba(15, 75, 167, 1);
}

.SearchBar {
    height: 44px;
    box-sizing: border-box;
    display: flex;
    border: 1px solid rgba(35, 35, 35, 0.16);
    border-radius: 8px;
}

.Search {
    height: 44px;
    flex: 1 1 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #757575;
}

.space {
    margin-right: 32px;
}

.space2 {
    margin-right: 24px;
}

.parag {
    position: relative;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    vertical-align: middle;
}

.box {
    border: 1px solid rgba(35, 35, 35, 0.16);
    border-radius: 8px;
    box-sizing: border-box;
    width: 109px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.bell {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
    justify-content: space-between;
    margin: 13px;

}

.ntfc {
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    border: 1px solid rgba(35, 35, 35, 0.16);
    border-radius: 8px;
}
.Avatar{
    margin-right: 48px;
}

.Currency {
    vertical-align: middle;
    align-items: flex-start;
    display: flex;
    position: absolute;
}
