.Cryptos {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: -0.04em;
    color: rgba(117, 117, 117, 1);
    font-style: normal;
    flex: 2 1 0;
    order: 0;
    flex-grow: 0;
    text-align: center;
    width: 100%;
    position: relative;
}

.CryptosData {
    position: relative;
    text-align: center;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: -0.04em;
    color: rgba(15, 75, 167, 1);
    width: 100%;
}

.SearchBar {
    height: 44px;
    box-sizing: border-box;
    top: 32px;
    position: absolute;
    display: flex;
    border: 1px solid rgba(35, 35, 35, 0.16);
    border-radius: 8px;
}

.Search {
    height: 44px;
    flex: 1 1 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    letter-spacing: -0.04em;

    color: #757575;

}

.space {
    margin-right: 32px;
}

.space2 {
    margin-right: 24px;
}

.parag {
    position: relative;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    vertical-align: middle;
}

.spaceVertical {
    position: absolute;
    top: 44px;
}

.spaceVertical2 {
    margin-left: 20px;
}

.box {
    border: 1px solid rgba(35, 35, 35, 0.16);
    border-radius: 8px;
    box-sizing: border-box;
    position: absolute;
    width: 109px;
    text-align: center;

}

.bell {

    position: absolute;
    display: flex;
    align-items: center;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    left: 10px;


}

.ntfc {

    box-sizing: border-box;

    position: absolute;
    width: 44px;
    height: 44px;

    border: 1px solid rgba(35, 35, 35, 0.16);
    border-radius: 8px;
}

.Currency{
    vertical-align: middle;
    align-items:flex-start;
    display: flex;
    position: absolute;
}