.bar {
    box-sizing: border-box;

    position: absolute;
    width: 269px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: #fcd293;
    text-decoration: none;
}

.overview {
    margin-top: 40px;
    position: absolute;
    width: 77px;
    height: 17px;
    left: 32px;
    top: 116px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */

    letter-spacing: 0.02em;

    color: #757575;

}

.hypance {
    margin-left: 63px;
    position: absolute;
    
    width: 97px;
    height: 29px;
    top: 5.65%;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    

    letter-spacing: -0.04em;

    color: #0F4BA7;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}

.logo {
    margin-right: 5px;
    height: 35px;
    width: 120px; 
    position: absolute;
    left: 10%;
    right: 13%;
    top: 8%;
    bottom: 9.64%;
    border: none;

}

.other {
    position: absolute;
    width: 49px;
    height: 17px;
    left: 32px;
    top: 654px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */

    letter-spacing: 0.02em;

    color: #757575;
}

.layout {
    margin-top: 185px;
    width: 89px;
    height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */

    letter-spacing: -0.04em;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.others {
    margin-top: 150px;
}

.dashboard {
    /* Dashboard */
    
    text-decoration: none;
    width: 100px;
    height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    /* identical to box height, or 22px */

    letter-spacing: -0.04em;

    color: #757575;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.active{
    background-color: #0F4BA7;
    padding: 4px;
    border: 50px;
    border: #0F4BA7;
    border-radius: 10px;
    color: #FFFFFF;
    
}
ul{
    list-style-type: none;
}
.icon{
    color: #757575;
    padding-right: 5px;
    font-size: 20px;
}


