.Container{
    background-color: red;
}

h1{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #062046;
}

label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #232323

}

.input{
    background: #FFFFFF;
    border: 1px solid rgba(35, 35, 35, 0.16);
    border-radius: 8px;
    width: 319px;
    height: 56px;
}

.button{
    margin-top :50px;
    background: #00B84A;
    border-radius: 9px;
    width: 319px;
    height: 56px;
    border-style: none;
    color: white;
}

.PriceVolumeArea{
    display: flex;
    justify-content: space-between;
}

.PriceVolumeButton{
    background: #FFFFFF;
    border: 1px solid rgba(35, 35, 35, 0.16);
    border-radius: 8px;
    height: 56px;
    width: 70px;
}

.dropbox{
    background: #FFFFFF;
    border: 1.5px solid #DCDCDC;
    border-radius: 8px;
    height: 56px;
    width: 319px;
}

Example{
    background: #FFFFFF;
    height: 56px;
    border-radius: 8px;
    width: 319px;
    border: 1.5px solid #DCDCDC;
}

.MultiSelectFormation{
    background: #FFFFFF;
    height: 56px;
    border-radius: 8px;
    width: 319px;

}
