.link {
    width: 100%;
    text-decoration: none;
    position: relative;
    margin-top: 20px;
    
}

.signin {
    text-decoration: none;
    float: left;
    color: #4267B2;

}

.forgetpw {
    color: #4267B2;
    text-decoration: none;
    float: right;
}